html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



body {
  padding:10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#AAAAAA;
}

a {
  color: #00B7FF;
}
.center{
	text-align:center;
	text-decoration:bold;
	vertical-align: center;
}
/*
#navContainer
{
	margin-top:  .4em;
	margin-bottom:  1em;
}
#navcontainer ul
{
padding: 30px 0;
margin: 10px;
list-style-type: none;
background-color: #036;
color: #036;
width: 100%;
font: normal 90% arial, helvetica, sans-serif;
text-align: center;

}*/



nav {
  display: block;
  width: 960px;
  margin: 10px auto;
  text-align: center;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: inline-block;
  background: #333;
  color: ##00B7FF;
  padding: 5px 15px;
  border: 1px solid #00B7FF;
  text-decoration: none;
}

nav a:hover {
 
}
nav a:active {
  
}
nav select {
  display: none;
}


li { display: inline; margin-bottom: 20px;
}

li a
{
text-decoration: none;
background-color: white;
color: ##00B7FF;
padding: .4em 1em;
box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

li a:hover
{
background-color: #369;
color: #fff;
}

div#columns figure {
background: #fefefe;
border: 2px solid #fcfcfc;
box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
margin-right: 5px;
margin-left: 0px;
margin-top: 10px;
margin-bottom: 10x;
padding: 15px; padding-bottom: 10px;
transition: opacity .4s ease-in-out;
column-break-inside: avoid;
display: inline-block;

}
div#columns figure img {
width: auto; height: 200px;
border-bottom: 1px solid #ccc;
padding-bottom: 15px;
margin-bottom: 5px;
min-width: 185px;
margin-right: auto;
margin-left: auto;
display: block;
}
.price
{
	margin-top: 10px;
}
.next
{
	float:right;
	margin-right:40px;
	display:block;
	height:30px;
	width:100px;
	padding-top:10px;
	text-align:center;
	background:white;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin-bottom: 10px;
	margin-top: 10px;

}
.likeButton
{
	float: right;
	background-image: url("/img/starred.jpg");
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	margin-top: -6px;
	-webkit-filter: grayscale(100%);
}

